.idea/
./idea/*
/target
../target
*.classpath
*.project
*.iml
*.MF
*.log
/.idea
.settings
*.sql
/logs
/bin/
.idea
*.class
target
/classes/
/lib/
/logs/
*.classpath
*.log
*/bin
*/test-output
*.class
*/.project
*.project
*.settings
*.settings/*
*.iml
.idea
/.idea
logs
dblogs
